* {

    box-sizing:border-box;
    margin:0;
    padding:0;

}
body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas{
    background-color: aliceblue;
}