*{
    box-sizing: border-box;
}
body {
    background-image: url("Bilder/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
button{
    width: 150px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 217, 255);
    border-color: blue;
    cursor: pointer;
    position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.links li{
    font-size: 1.1rem;
    margin: 1rem;
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    display: block;
}


.responsive-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.responsive-button .res-bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .responsive-button {
        display: flex;
    }
    .links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .links ul{
        width: 100%;
        flex-direction: column;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        padding: .5rem 1rem;
    }
    .links.active{
        display: flex;
    }
}
img{
    width: 180px;
    height: 33px;
}
h1{
    text-align: center;
}
button{
    width: 200px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 217, 255);
    border-color: blue;
    cursor: pointer;
}

p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    float: right;
}

.moin {
	width: 300px;
	height: 300px;
	margin: 4em auto;
	border: 8px solid rgb(136, 190, 218);
}
.moin img {
	width: 100%;
	height: 100%;
}
.texthome{
    text-align: center;
}

