    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        margin-left: 5rem;
    }

    .nav-link {
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
    }

    .nav-link:hover {
        color: #009dff;
    }


    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        margin-bottom: 90px;
        font-size:xx-large;
    }

    p {
        color: rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
    }

    body {
        background-image: url("Bilder/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        align-items: center;
    }

    button{
        width: 150px;
        height: 30px;
        color: black;
        background-color:beige;
        cursor: pointer;
    }
    TVT {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 490px;
    }
    Text1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    Trikot{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 990px;
    }
    .links {
        align-items: center;
        float: left;
        margin-right: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.1fr 0.9fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
    }
