    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
    }

    .nav-item {
        margin-left: 5rem;
    }

    .nav-link {
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000;
    }

    .nav-link:hover {
        color: #009dff;
    }


    h1 {
        text-align: center;
        color: rgb(0, 0, 0);
        margin-bottom: 90px;
        font-size:xx-large;
    }

    p {
        color: rgb(0, 0, 0);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
    }

    body {
        background-image: url("https://background-tiles.com/overview/blue/patterns/large/1047.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        align-items: center;
    }
    li{
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    button{
        width: 150px;
        height: 30px;
        color: black;
        background-color:beige;
        cursor: pointer;
    }
    .img{
        position: absolute;
        top: 200px;
        bottom: 100px;
        left: 10px;
        right: 10px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        }

